@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto/roboto-regular-webfont.woff) format('woff'),
    url(../fonts/Roboto/roboto-regular-webfont.woff2) format('woff2');
}

@font-face {
  font-family: roboto medium;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Roboto/roboto-medium-webfont.woff) format('woff'),
    url(../fonts/Roboto/roboto-medium-webfont.woff2) format('woff2');
}

@font-face {
  font-family: roboto bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Roboto/roboto-bold-webfont.woff) format('woff'),
    url(../fonts/Roboto/roboto-bold-webfont.woff2) format('woff2');
}

@font-face {
  font-family: roboto black;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Roboto/roboto-black-webfont.woff) format('woff'),
    url(../fonts/Roboto/roboto-black-webfont.woff2) format('woff2');
}

@font-face {
  font-family: raleway bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Raleway/Raleway-Bold.ttf) format('ttf');
}
