.root {
  --basic-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --basic-bg-color: #ffffff;
}

.body {
  background-color: var(--basic-bg-color);
  color: var (--basic-text-color);
}
/* логотип */
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}
/* обнуляція списку */
.list {
  list-style: none;
}
/* навигація */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--title-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/* герой */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
}
.hero-button {
  background-color: #2196f3;
  color: #ffffff;
}
/* заголовки*/
.section-title {
  color: var(--title-text-color);
}

.team-list .title {
  color: var(--title-text-color);
}

/* функції */
.feature-list .title {
  color: var(--title-text-color);
}

/* футер */
.footer {
  background-color: #2f303a;
}

.footer-address {
  color: #ffffff;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* цвет основного текста color: #757575*/

/* цвет текста заголовков color: #212121*/

/* белый color:FFFFFF*/

/* вторичный цвет фона color:#F5F4FA */

/* акцент 2196F3*/

/* футер фон color: 2F303A */

/* цвет футер тел.color: rgba(255, 255, 255, 0.6)*/

/*  */
