.root {
  --basic-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --basic-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --text-white-color: #ffffff;
}

.body {
  background-color: var(--basic-bg-color);
  color: var (--basic-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* логотип */
.logo-web {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* обнуляція списку */
.list {
  list-style: none;
}
/* навигація */
.site-nav .link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/* герой */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* заголовки*/
.section-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* функції */
.feature-list .title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.team-list .title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* команда */
.section-team {
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* футер */
.footer {
  background-color: #2f303a;
}

.footer-address {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: #2196f3;
}

/* кнопки */

.button {
  background-color: var (--secondary-bg-color);
  color: var(--title-text-color);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.button-primary {
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-secondary {
  background-color: var (--secondary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.images {
  color: var(--basic-text-color);
  font-family: Roboto;
  font-style: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.images-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* цвет основного текста color: #757575*/

/* цвет текста заголовков color: #212121*/

/* белый color:FFFFFF*/

/* вторичный цвет фона color:#F5F4FA */

/* акцент 2196F3*/

/* футер фон color: 2F303A */

/* цвет футер тел.color: rgba(255, 255, 255, 0.6)*/

/*  */
